.header {
    background-image: url("./assets/bg.png");
    background-size: cover;
    height: 500px;
    position: relative;
        overflow: hidden;
        height: 100vh;
  }

.nav-link{
    color: white;
}

#body{
    background-color: #0000;
}